body{
    background:#FDF2F4;
    margin:0;
    font-family:Arial, sans-serif;
}
.nav-bar{
    background:#E85C7B;
    padding:18px 0;
    text-align:center;
}

.nav-bar ul{
    list-style:none;
    margin:0;
    padding:0;
}

.nav-bar ul li{
    display:inline-block;
    margin-right:40px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}
h1{
    text-align:center;
    margin:25px;
    color:#E85C7B;
}

.Section{
    display:flex;
}

.container{
    width:35%;
    background:#FDF2F4;
    color:#5A3A42;
    padding:35px;
    text-align:left;
    border-radius:15px;
    margin:20px;
}

.container h2{
    background:#F7C9D3;
    padding:12px 20px;
    border-radius:25px;
    margin-bottom:15px;
    font-size:20px;
}

.container ul{
    padding-left:20px;
}

.container ul li{
    margin-bottom:6px;
}

.Box{
    width:65%;
    padding:20px;
}

.Box1{
    background:none;
    padding:10px 0;
    margin-bottom:20px;
}

.Box1 h2{
    background:#F7C9D3;
    padding:12px 20px;
    border-radius:25px;
    color:#5A3A42;
    font-size:20px;
    margin-bottom:15px;
}

ul{
    padding-left:20px;
}